<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlet Mapping -->
<servlet>
    <servlet-name>ProcessarCadastroServlet</servlet-name>
    <servlet-class>com.sistema.ProcessarCadastroServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ProcessarCadastroServlet</servlet-name>
    <url-pattern>/ProcessarCadastroServlet</url-pattern>
</servlet-mapping>

    <!-- HTML Page Mapping -->
    <welcome-file-list>
        <welcome-file>cadastro.html</welcome-file>
    </welcome-file-list>

</web-app>
