body {
    background-color: #ffffff; /* branco */
    color: #333333; /* cinza escuro para o texto */
}

.header {
    background-color: #005aa7; /* azul escuro para o cabeçalho */
    color: #ffffff; /* texto branco para o cabeçalho */
}

.button {
    background-color: #005aa7; /* azul escuro para botões */
    color: #ffffff; /* texto branco para botões */
}

.container {
    background-color: #f9f9f9; /* fundo cinza claro para o conteúdo */
    border: 1px solid #cccccc; /* borda cinza */
}
